<header>
    <div class="header">
        <form action="#" class="header__form">
            <input type="text" class="header__input" placeholder="Type your address here">
            <button class="header__btn" type="submit">
                <i class="fas fa-search header__icon"></i>
            </button>
        </form>
    </div>
</header>